<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mappers.CursoMapper">
    <select parameterType="map" id="loadCursos" resultMap='Curso'>
        select
    c.id as cid,
    c.nombre as cnombre,
    c.creditosacademicos as ccreditosacademicos,
    c.horasaprovadasmonitoria as chorasaprovadasmonitoria
    from curso as c
    </select>
    <resultMap type='Curso' id='Curso'>
        <id property='id' column='cid'/>
        <result property='nombre' column = 'cnombre'/>
        <result property='creditosAcademicos' column = 'ccreditosacademicos'/>
        <result property='horasAprobadasMonitoria' column = 'chorasaprovadasmonitoria'/>
        <collection property='temas' ofType='TemaCurso' resultMap='Mappers.TemaCursoMapper.TemaCurso'></collection>
    </resultMap>
</mapper>