<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.GrupoMapper">
    <resultMap type='Grupo' id='Grupo'>
        <id property='numero' column='gnumero'/>
        <association property='semestre' javaType='Semestre' resultMap='mappers.SemestreMapper.Semestre'></association>
        <association property='curso' javaType='Curso' resultMap='mappers.CursoMapper.Curso'></association>
        <association property='profesor' javaType='Profesor' resultMap='mappers.ProfesorMapper.Profesor'></association>
        <association property='monitor' javaType='Monitor' resultMap='mappers.MonitorMapper.Monitor'></association>
        <collection property='franjas' ofType='FranjaDisponibilidad' resultMap='mappers.FranjaDisponibilidadMapper.FranjaDisponibilidad'></collection>
    </resultMap>
</mapper>