<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mappers.GrupoMapper">
    <resultMap type='Grupo' id='Grupo'>
        <id property='idGrupo' column='gid'/>
        <result property='numero' column='gnumero'/>
        <association property='curso' javaType='Curso' resultMap='Mappers.CursoMapper.Curso'></association>
        <association property='semestre' javaType='Semestre' resultMap='Mappers.SemestreMapper.Semestre'></association>
        <association property='monitor' javaType='Monitor' resultMap='Mappers.MonitorMapper.Monitor'></association>
        <association property='profesor' javaType='Profesor' resultMap='Mappers.ProfesorMapper.Profesor'></association>
        <collection property='monitorias' ofType='Monitoria' resultMap='Mappers.MonitoriaMapper.Monitoria'></collection>
        <collection property='asesoria' ofType='Asesoria' resultMap='Mappers.AsesoriaMapper.Asesoria'></collection>
    </resultMap>
</mapper>