<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mappers.GrupoMapper">
    
    <select parameterType="map" id="loadGrupos" resultMap='Grupo'>
        select
        g.idgrupo as gid,
        g.numero as gnumero,
        c.id as cid,
        c.nombre as cnombre,
        c.creditosacademicos as ccreditosacademicos,
        c.horasaprovadasmonitoria as chorasaprovadasmonitoria,


        s.numero as snumero,
        s.ano as sano,
        s.fechainicio as sfechainicio,
        s.fechafin as sfechafin

        from grupo as g, curso as c, semestre as s
        where
        c.id = g.curso_id and  s.numero = g.semestre_numero  and curso_id = #{curso} and semestre_numero = #{semestre}     
    </select>
    
    
    <select parameterType="map" id="loadGruposAsociadosProfesor" resultMap='Grupo'>
         select
        g.idgrupo as gid,
        g.numero as gnumero,
        c.id as cid,
        c.nombre as cnombre,
        c.creditosacademicos as ccreditosacademicos,
        c.horasaprovadasmonitoria as chorasaprovadasmonitoria,


        s.numero as snumero,
        s.ano as sano,
        s.fechainicio as sfechainicio,
        s.fechafin as sfechafin

        from grupo as g, curso as c, semestre as s
        where
        c.id = g.curso_id and  s.numero = g.semestre_numero  and g.profesor_persona_id = #{idprofesor} and semestre_numero = #{semestre} 
    </select>
    <select parameterType="map" id="numeroDeAsistenciasSegunGrupo" resultType='Integer'>
        select count(a.idasesoria)
            from asesoria as a, grupo as g
            where a.grupo_idgrupoasistente = g.idgrupo and g.idgrupo = #{grupo}
    </select>
    <resultMap type='Grupo' id='Grupo'>
        <id property='idGrupo' column='gid'/>
        <result property='numero' column='gnumero'/>
        <association property='curso' javaType='Curso' resultMap='Mappers.CursoMapper.Curso'></association>
        <association property='semestre' javaType='Semestre' resultMap='Mappers.SemestreMapper.Semestre'></association>
        <association property='monitor' javaType='Monitor' resultMap='Mappers.MonitorMapper.Monitor'></association>
        <association property='profesor' javaType='Profesor' resultMap='Mappers.ProfesorMapper.Profesor'></association>
    </resultMap>
</mapper>