<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Mappers.MonitoriaRegistradaMapper">
    <insert parameterType="map" id="registrarInicioMonitoriaDictada">
        insert into monitoriaregistrada (monitoria_idmonitoria, horacomienzo, fecha, ip) values( 
	(select
        m.idmonitoria as monid
        from monitoria as m
        where #{id} = (select g.monitor_persona_id from grupo as g where m.grupo_idgrupo = g.idgrupo and g.semestre_numero = 
	(select MAX(s.numero) from semestre as s)) and current_time between m.horainicio and m.horafin
        and
	(((select extract(dow from current_date))=1 and m.dia like 'lunes') or
	((select extract(dow from current_date))=2 and m.dia like 'martes') or
	((select extract(dow from current_date))=3 and m.dia like 'miercoles') or
	((select extract(dow from current_date))=4 and m.dia like 'jueves') or
	((select extract(dow from current_date))=5 and m.dia like 'viernes'))),
	current_time, current_date, #{ip})
    </insert>
    
    <insert parameterType="map" id="registrarFinMonitoria">
        update monitoriaregistrada
        set horafinalizacion = current_time
        where #{id} = (select g.monitor_persona_id from grupo as g, monitoria as m
			where monitoria_idmonitoria = m.idmonitoria and m.grupo_idgrupo = g.idgrupo)
	and horafinalizacion is null
    </insert>
    
    <select parameterType="map" id="loadMonitoriasRegistradasPorMonitoria" resultMap='MonitoriaRegistrada'>
        select 
        mr.idmonitoriaregistrada as mronid,
        mr.ip as mrip,
        mr.horacomienzo as mrhorainicio,
        mr.horafinalizacion as mrhorafin,
        mr.fecha as mrfecha

        from monitoriaregistrada as mr
        where mr.monitoria_idmonitoria = #{idmonitoria}

    </select>
    
    <resultMap type='MonitoriaRegistrada' id='MonitoriaRegistrada'>
        <id property='idMonitoria' column='mronid'/>
        <result property='IP' column='mrip'/>
        <result property='horaInicio' column='mrhorainicio'/>
        <result property='horaFin' column='mrhorafin'/>
        <result property='fecha' column='mrfecha'/>
        <association property='monitoria' javaType='Monitoria' resultMap='Mappers.MonitoriaMapper.Monitoria'></association>
    </resultMap>
</mapper>
