<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mappers.MonitoriaMapper">
    <select parameterType="map" id="loadMonitoriasPorMonitor" resultMap='Monitoria'>
    select
    m.idmonitoria as monid,
    m.dia as mdia,
    m.horainicio as mhorainicio,
    m.horafin as mhorafin,
    m.lugar as mlugar
    
    from monitoria as m
    where #{id} = (select g.monitor_persona_id from grupo as g where m.grupo_idgrupo = g.idgrupo and g.semestre_numero = 
	(select MAX(s.numero) from semestre as s))
    </select>
    <select parameterType="map" id="monitoriasDisponiblesParaDictar" resultMap='Monitoria'>
    select
    m.idmonitoria as monid,
    m.dia as mdia,
    m.horainicio as mhorainicio,
    m.horafin as mhorafin,
    m.lugar as mlugar
    
    from monitoria as m
    where #{id} = (select g.monitor_persona_id from grupo as g where m.grupo_idgrupo = g.idgrupo and g.semestre_numero = 
	(select MAX(s.numero) from semestre as s)) and current_time between m.horainicio and m.horafin
	and
	(((select extract(dow from current_date))=1 and m.dia like 'lunes') or
	((select extract(dow from current_date))=2 and m.dia like 'martes') or
	((select extract(dow from current_date))=3 and m.dia like 'miercoles') or
	((select extract(dow from current_date))=4 and m.dia like 'jueves') or
	((select extract(dow from current_date))=5 and m.dia like 'viernes'))
    </select>
    
    <select parameterType="map" id="loadMonitorias" resultMap='Monitoria'>
        select
        m.idmonitoria as monid,
        m.dia as mdia,
        m.horainicio as mhorainicio,
        m.horafin as mhorafin,
        m.lugar as mlugar
    
        from monitoria as m
        where #{semestre} = (select g.semestre_numero from grupo as g where m.grupo_idgrupo = g.idgrupo)
    </select>
    <select parameterType="map" id="loadMonitoriasPorCurso" resultMap='Monitoria'>
        select
        m.idmonitoria as monid,
        m.dia as mdia,
        m.horainicio as mhorainicio,
        m.horafin as mhorafin,
        m.lugar as mlugar
    
        from monitoria as m
        where #{semestre} = (select g.semestre_numero from grupo as g where m.grupo_idgrupo = g.idgrupo) 
        <if test= "idcurso != null">
            and #{idcurso} = (select g.curso_id from grupo as g where m.grupo_idgrupo = g.idgrupo)
        </if>
    </select>
    <select parameterType="map" id="loadFechasMonitorias" resultType='java.sql.Date'>
        select distinct fecha
        from monitoriaregistrada as mr, monitoria as mo, grupo as g
        where mr.monitoria_idmonitoria = mo.idmonitoria and mo.grupo_idgrupo = g.idgrupo 
        and g.curso_id = #{curso} and g.semestre_numero = #{semestre}
    </select>
    <select parameterType="map" id="numeroDeAsistenciasSegunFecha" resultType='Integer'>
        select count(a.idasesoria)
        from asesoria as a,monitoriaregistrada as mr, monitoria as mo, grupo as g
        where mr.monitoria_idmonitoria = mo.idmonitoria and mo.grupo_idgrupo = g.idgrupo and a.monitoriaregistrada = mr.idmonitoriaregistrada
        and g.curso_id = #{curso} and g.semestre_numero = #{semestre} and mr.fecha = #{fecha}
    </select>
    <select parameterType="map" id="franjasMonitorias" resultType='java.sql.Time'>
        select distinct mo.horainicio
        from monitoria as mo, grupo as g
        where mo.grupo_idgrupo = g.idgrupo and g.semestre_numero = #{semestre} and g.curso_id = #{curso}
    </select>
    <select parameterType="map" id="numeroDeAsistenciasSegunFranja" resultType='Integer'>
        select count(a.idasesoria)
        from asesoria as a, grupo as g, monitoria as mo, monitoriaregistrada as mr
        where a.grupo_idgrupoasistente = g.idgrupo and a.monitoriaregistrada = mr.idmonitoriaregistrada
        and mr.monitoria_idmonitoria = mo.idmonitoria and mo.horainicio = #{franja}
        and g.semestre_numero = #{semestre} and g.curso_id = #{curso}
    </select>
    <select parameterType="map" id="numeroDeAsistenciasSegunMonitoria" resultType='Integer'>
        select count(a.idasesoria)
        from asesoria as a, monitoriaregistrada as mr, monitoria as mo
        where a.monitoriaregistrada = mr.idmonitoriaregistrada and mr.monitoria_idmonitoria = mo.idmonitoria
        and mo.idmonitoria = #{monitoria}
    </select>
    <select parameterType="map" id="loadMonitoriasPorGrupo" resultMap='Monitoria'>
        select
        m.idmonitoria as monid,
        m.dia as mdia,
        m.horainicio as mhorainicio,
        m.horafin as mhorafin,
        m.lugar as mlugar
    
        from monitoria as m
        where m.grupo_idgrupo = #{grupo}
    </select>
    <insert parameterType="map" id="crearMonitoria">
        insert into monitoria (grupo_idgrupo, dia, horainicio, horafin, lugar) values( 
	#{grupo},#{dia}, #{inicio}, #{fin}, #{lugar})
    </insert>
    <update parameterType="map" id="modificarMonitoria">
        update monitoria
        <set>
        <if test="grupo != null">grupo_idgrupo=#{grupo},</if>
        <if test="dia != null">dia=#{dia},</if>
        <if test="horaInicio != null">horainicio=#{horaInicio},</if>
        <if test="horaFin != null">horafin=#{horaFin}</if>
        <if test="lugar != null">lugar=#{lugar}</if>
        </set>
        where idmonitoria = #{id}
    </update>
    
    <delete parameterType="map" id="eliminarMonitoria">
        delete from monitoria
        where idmonitoria = #{id}
    </delete>
    <resultMap type='Monitoria' id='Monitoria'>
        <id property='idMonitoria' column='monid'/>
        <result property='dia' column='mdia'/>
        <result property='horaInicio' column='mhorainicio'/>
        <result property='horaFin' column='mhorafin'/>
        <result property='lugar' column='mlugar'/>
        <association property='grupo' javaType='Grupo' resultMap='Mappers.GrupoMapper.Grupo'></association>
    </resultMap>
</mapper>
