<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mappers.MonitorMapper">
    <select parameterType="map" id="loadMonitor" resultMap='Monitor'>
    select
    
    p.id as peid,
    p.nombre as penombre ,
    p.apellido as peapellido ,
    p.correo as pecorreo ,
    p.contasena as peconstraseña ,
    
    m.telefono as mtelefono,
    m.programaacademico as mprogramaacademico,
    
    s.numero as snumero,
    s.ano as sano,
    s.periodoAcademico as speriodoacademico,
    s.fechaInicio as sfechainicio,
    s.fechaFin as sfechafin
                    
    FROM monitor as m 
    left join persona as p on m.persona_id = p.id
    left join semestre as s on m.semestreIngreso_Numero=s.numero
    WHERE m.persona_id=#{id} 
        
    </select>
    
    
    <select parameterType="map" id="loadMonitorLogin" resultMap='Monitor'>
    select
    
    p.id as peid,
    p.nombre as penombre ,
    p.apellido as peapellido ,
    p.correo as pecorreo ,
    p.contasena as peconstraseña ,
    
    m.telefono as mtelefono,
    m.programaacademico as mprogramaacademico,
    
    s.numero as snumero,
    s.ano as sano,
    s.periodoAcademico as speriodoacademico,
    s.fechaInicio as sfechainicio,
    s.fechaFin as sfechafin
                    
    FROM monitor as m 
    left join persona as p on m.persona_id = p.id
    left join semestre as s on m.semestreIngreso_Numero=s.numero
    WHERE m.persona_id=#{id} and p.contasena = #{psw}
        
    </select>
    
    <select parameterType="map" id="loadMonitoresAsociadosProfesor" resultMap='Monitor'>
        select distinct 
        p.id as peid,
        p.nombre as penombre ,
        p.apellido as peapellido ,
        p.correo as pecorreo ,
        p.contasena as peconstraseña ,
    
        m.telefono as mtelefono,
        m.programaacademico as mprogramaacademico,
    
        s.numero as snumero,
        s.ano as sano,
        s.periodoAcademico as speriodoacademico,
        s.fechaInicio as sfechainicio,
        s.fechaFin as sfechafin
                    
        FROM monitor as m 
        left join persona as p on m.persona_id = p.id
        left join semestre as s on m.semestreIngreso_Numero=s.numero, grupo as g
        where g.monitor_persona_id = p.id  and g.profesor_persona_id = #{idprofesor}
        and g.semestre_numero = #{semestre}
        
    </select>

    <select parameterType="map" id="loadMonitorPorGrupo" resultMap='Monitor'>
    select
    
    p.id as peid,
    p.nombre as penombre ,
    p.apellido as peapellido ,
    p.correo as pecorreo ,
    p.contasena as peconstraseña ,
    
    m.telefono as mtelefono,
    m.programaacademico as mprogramaacademico,
    
    s.numero as snumero,
    s.ano as sano,
    s.periodoAcademico as speriodoacademico,
    s.fechaInicio as sfechainicio,
    s.fechaFin as sfechafin
                    
    FROM monitor as m 
    left join persona as p on m.persona_id = p.id
    left join semestre as s on m.semestreIngreso_Numero=s.numero, grupo as g
    WHERE g.monitor_persona_id = m.persona_id and g.idgrupo = #{idgrupo}
        
    </select>
    <resultMap type='Monitor' id='Monitor' extends='Mappers.PersonaMapper.Persona'>
        <result property='telefonoMovil' column = 'mtelefono'/>
        <result property='programaAcademico' column = 'mprogramaacademico'/>
        <association property='semestreDeIngreso' javaType='Semestre' resultMap='Mappers.SemestreMapper.Semestre'></association>
    </resultMap>
</mapper>