<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mappers.MonitorMapper">
    <select parameterType="map" id="loadMonitor" resultMap='Monitor'>
    select
    
    p.id as peid,
    p.nombre as penombre ,
    p.apellido as peapellido ,
    p.correo as pecorreo ,
    p.contasena as peconstraseña ,
    
    m.telefono as mtelefono,
    m.programaacademico as mprogramaacademico,
    
    s.numero as snumero,
    s.ano as sano,
    s.periodoAcademico as speriodoacademico,
    s.fechaInicio as sfechainicio,
    s.fechaFin as sfechafin
                    
    FROM monitor as m 
    left join persona as p on m.persona_id = p.id
    left join semestre as s on m.semestreIngreso_Numero=s.numero
    WHERE m.persona_id=#{id} 
        
    </select>
    
    <select parameterType="map" id="loadMonitores" resultMap='Monitor'>
    select
    
    p.id as peid,
    p.nombre as penombre ,
    p.apellido as peapellido ,
    p.correo as pecorreo ,
    p.contasena as peconstraseña ,
    
    m.telefono as mtelefono,
    m.programaacademico as mprogramaacademico,
    
    s.numero as snumero,
    s.ano as sano,
    s.periodoAcademico as speriodoacademico,
    s.fechaInicio as sfechainicio,
    s.fechaFin as sfechafin
                    
    FROM monitor as m 
    left join persona as p on m.persona_id = p.id
    left join semestre as s on m.semestreIngreso_Numero=s.numero
        
    </select>
    <select parameterType="map" id="loadMonitorLogin" resultMap='Monitor'>
    select
    
    p.id as peid,
    p.nombre as penombre ,
    p.apellido as peapellido ,
    p.correo as pecorreo ,
    p.contasena as peconstraseña ,
    
    m.telefono as mtelefono,
    m.programaacademico as mprogramaacademico,
    
    s.numero as snumero,
    s.ano as sano,
    s.periodoAcademico as speriodoacademico,
    s.fechaInicio as sfechainicio,
    s.fechaFin as sfechafin
                    
    FROM monitor as m 
    left join persona as p on m.persona_id = p.id
    left join semestre as s on m.semestreIngreso_Numero=s.numero
    WHERE m.persona_id=#{id} and p.contasena = #{psw}
        
    </select>
    
    <select parameterType="map" id="loadMonitoresAsociadosProfesor" resultMap='Monitor'>
        select distinct 
        p.id as peid,
        p.nombre as penombre ,
        p.apellido as peapellido ,
        p.correo as pecorreo ,
        p.contasena as peconstraseña ,
    
        m.telefono as mtelefono,
        m.programaacademico as mprogramaacademico,
    
        s.numero as snumero,
        s.ano as sano,
        s.periodoAcademico as speriodoacademico,
        s.fechaInicio as sfechainicio,
        s.fechaFin as sfechafin
                    
        FROM monitor as m 
        left join persona as p on m.persona_id = p.id
        left join semestre as s on m.semestreIngreso_Numero=s.numero, grupo as g
        where g.monitor_persona_id = p.id  and g.profesor_persona_id = #{idprofesor}
        and g.semestre_numero = #{semestre}
        
    </select>

    <select parameterType="map" id="loadMonitorPorGrupo" resultMap='Monitor'>
    select
    
    p.id as peid,
    p.nombre as penombre ,
    p.apellido as peapellido ,
    p.correo as pecorreo ,
    p.contasena as peconstraseña ,
    
    m.telefono as mtelefono,
    m.programaacademico as mprogramaacademico,
    
    s.numero as snumero,
    s.ano as sano,
    s.periodoAcademico as speriodoacademico,
    s.fechaInicio as sfechainicio,
    s.fechaFin as sfechafin
                    
    FROM monitor as m 
    left join persona as p on m.persona_id = p.id
    left join semestre as s on m.semestreIngreso_Numero=s.numero, grupo as g
    WHERE g.monitor_persona_id = m.persona_id and g.idgrupo = #{idgrupo}
        
    </select>
    <insert parameterType="map" id="crearMonitor">
        insert into persona (id, nombre, apellido, correo, contasena) values( 
	#{id},#{nombre}, #{apellido}, #{correo}, #{contra});
        insert into monitor (persona_id, telefono, programaacademico, semestreingreso_numero) values(
        #{id}, #{tel}, #{programa}, #{semestre})
    </insert>
    <update parameterType="map" id="asignarSemestreAMonitor">
        update monitor
        set semestreingreso_numero = #{semestre}
        where persona_id = #{moni}
    </update>
    <update parameterType="map" id="modificarMonitor">
        <if test = "idNuevo != null or nombre != null or apellido != null or correo != null or contra != null">
        update persona
        <set>
        <if test="idNuevo != null">id=#{idNuevo},</if>
        <if test="nombre != null">nombre=#{nombre},</if>
        <if test="apellido != null">apellido=#{apellido},</if>
        <if test="correo != null">correo=#{correo}</if>
        <if test="contra != null">contasena=#{contra}</if>
        </set>
        where id=#{idViejo};
        </if>
         <if test="semestre != null or programa != null or telefono != null">
             update monitor
             <set>
             <if test="telefono != null">telefono=#{telefono}</if>
             <if test="programa != null">programaacademico=#{programa}</if>
             <if test="semestre != null">semestreingreso_numero=#{semestre}</if>
             </set>
             <choose>
                 <when test="idNuevo == null">
                     where persona_id = #{idViejo}
                 </when>
                 <otherwise>
                     where persona_id = #{idNuevo}
                 </otherwise>
             </choose>         
         </if>
    </update>
    <select parameterType="map" id="monitoresPorSemestre" resultMap='Monitor'>
    select distinct
    
    p.id as peid,
    p.nombre as penombre ,
    p.apellido as peapellido ,
    p.correo as pecorreo ,
    p.contasena as peconstraseña ,
    
    m.telefono as mtelefono,
    m.programaacademico as mprogramaacademico,
    
    s.numero as snumero,
    s.ano as sano,
    s.periodoAcademico as speriodoacademico,
    s.fechaInicio as sfechainicio,
    s.fechaFin as sfechafin
                    
    FROM monitor as m
    left join persona as p on m.persona_id = p.id
    left join grupo as g on g.monitor_persona_id=m.persona_id
    left join semestre as s on g.semestre_numero=s.numero
    where
    g.semestre_numero = #{id}
    
    </select>
    <select parameterType="map" id="monitoresOcupadosSemestre" resultMap='Monitor'>
    select distinct
    
    p.id as peid,
    p.nombre as penombre ,
    p.apellido as peapellido ,
    p.correo as pecorreo ,
    p.contasena as peconstraseña ,
    
    m.telefono as mtelefono,
    m.programaacademico as mprogramaacademico,
    
    s.numero as snumero,
    s.ano as sano,
    s.periodoAcademico as speriodoacademico,
    s.fechaInicio as sfechainicio,
    s.fechaFin as sfechafin
                    
    FROM monitor as m
    left join persona as p on m.persona_id = p.id
    left join grupo as g on g.monitor_persona_id=m.persona_id
    left join semestre as s on g.semestre_numero=s.numero
    left join monitoria as mo on mo.grupo_idgrupo = g.idgrupo
    left join monitoriaregistrada as mr on mr.monitoria_idmonitoria = mo.idmonitoria
    left join asesoria as a on a.monitoriaregistrada = mr.idmonitoriaregistrada
    where
    g.semestre_numero = #{id}
    
    </select>
    <resultMap type='Monitor' id='Monitor' extends='Mappers.PersonaMapper.Persona'>
        <result property='telefonoMovil' column = 'mtelefono'/>
        <result property='programaAcademico' column = 'mprogramaacademico'/>
        <association property='semestreDeIngreso' javaType='Semestre' resultMap='Mappers.SemestreMapper.Semestre'></association>
    </resultMap>
</mapper>