<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mappers.PersonaMapper">
    <resultMap type='Persona' id='Persona'>
        <id property ='id' column='peid'/>
        <result property='nombre' column='penombre'/>
        <result property='apellido' column='peapellido'/>
        <result property='correo' column='pecorreo'/>
        <result property='contrasena' column='peconstrasena'/>
    </resultMap>
</mapper>