<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mappers.ProfesorMapper">
    <select parameterType="map" id="loadProfesor" resultMap='Profesor'>
    select
    
    p.id as peid,
    p.nombre as penombre ,
    p.apellido as peapellido ,
    p.correo as pecorreo ,
    p.contasena as peconstraseña ,
    
    pr.decanatura as prdecanatura,
                        
    g.idGrupo as gidgrupo,
    g.numero as gnumero,
    g.curso_ID as gcursoid
    
                   
    FROM profesor as pr
    left join persona as p on pr.persona_id = p.id
    left join grupo as g on pr.persona_id = g.profesor_Persona_ID
    WHERE pr.persona_id=#{id} 
        
    </select>
    <resultMap type='Profesor' id='Profesor' extends='Mappers.PersonaMapper.Persona'>
        <id property ='idProfesor' column='prid'/>
        <result property='decanatura' column = 'prdecanatura'/>
        <collection property='grupos' ofType='Grupo' resultMap='Mappers.GrupoMapper.Grupo' ></collection>
    </resultMap>
</mapper>