<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mappers.ProfesorMapper">
    <select parameterType="map" id="loadProfesor" resultMap='Profesor'>
    select
    
    p.id as peid,
    p.nombre as penombre ,
    p.apellido as peapellido ,
    p.correo as pecorreo ,
    p.contasena as peconstrasena ,
    
    pr.decanatura as prdecanatura             
                
    FROM profesor as pr
    left join persona as p on pr.persona_id = p.id
    WHERE pr.persona_id=#{id} 
        
    </select>
    <select parameterType="map" id="loadProfesores" resultMap='Profesor'>
    select
    
    p.id as peid,
    p.nombre as penombre ,
    p.apellido as peapellido ,
    p.correo as pecorreo ,
    p.contasena as peconstrasena ,
    
    pr.decanatura as prdecanatura             
                
    FROM profesor as pr
    left join persona as p on pr.persona_id = p.id
        
    </select>
    
    <select parameterType="map" id="loadProfesorLogin" resultMap='Profesor'>
    select
    
    p.id as peid,
    p.nombre as penombre ,
    p.apellido as peapellido ,
    p.correo as pecorreo ,
    p.contasena as peconstrasena ,
    
    pr.decanatura as prdecanatura             
                
    FROM profesor as pr
    left join persona as p on pr.persona_id = p.id
    WHERE pr.persona_id=#{id} and p.contasena =#{psw}
        
    </select>
    
    <insert parameterType="map" id="crearProfesor">
        insert into persona (id, nombre, apellido, correo, contasena) values( 
	#{id},#{nombre}, #{apellido}, #{correo}, #{contra});
        insert into profesor (persona_id, decanatura) values(
        #{id}, #{dec})
    </insert>
    
    <delete parameterType="map" id="eliminarPersona">
        delete from persona
        where id = #{id}
    </delete>
    
    <update parameterType="map" id="modificarProfesor">
        <if test = "idNuevo != null or nombre != null or apellido != null or correo != null or contra != null">
        update persona
        <set>
        <if test="idNuevo != null">id=#{idNuevo},</if>
        <if test="nombre != null">nombre=#{nombre},</if>
        <if test="apellido != null">apellido=#{apellido},</if>
        <if test="correo != null">correo=#{correo},</if>
        <if test="contra != null">contasena=#{contra}</if>
        </set>
        where id=#{idViejo};
        </if>
         <if test="dec != null">
             update profesor
             set decanatura = #{dec}
             <choose>
                 <when test="idNuevo == null">
                     where persona_id = #{idViejo}
                 </when>
                 <otherwise>
                     where persona_id = #{idNuevo}
                 </otherwise>
             </choose>         
         </if>
    </update>
    <resultMap type='Profesor' id='Profesor' extends='Mappers.PersonaMapper.Persona'>
        <result property='decanatura' column = 'prdecanatura'/>
    </resultMap>
</mapper>