<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mappers.ProfesorMapper">
    <resultMap type='Profesor' id='Profesor' extends='Mappers.PersonaMapper.Persona'>
        <id property ='idProfesor' column='prid'/>
        <result property='decanatura' column = 'prdecanatura'/>
        <collection property='grupos' ofType='Grupo' resultMap='Mappers.GrupoMapper.Grupo' ></collection>
    </resultMap>
</mapper>