<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mappers.SemestreMapper">
    <resultMap type='Semestre' id='SemestreResult'>
        <id property='periodoAcademico' column = 'sid'/>
        <result property='numero' column='snumero'/>      
        <result property='fechaInicio' column = 'sfechainicio'/>
        <result property='fechaFin' column = 'sfechafin'/>
    </resultMap>
</mapper>