<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.SemestreMapper">
    <resultMap type='Semestre' id='Semestre'>
        <id property='ano' column='sano'/> 
        <id property='periodoAcademico' column = 'speriodoacademico'/>     
        <result property='fechaInicio' column = 'sfechainicio'/>
        <result property='fechaFin' column = 'sfechafin'/>
    </resultMap>
</mapper>