<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mappers.SemestreMapper">
    <select parameterType="map" id="loadSemestre" resultMap='Semestre'>
        select
        s.numero as snumero,
        s.ano as sano,
        s.periodoAcademico as speriodoacademico,
        s.fechaInicio as sfechainicio,
        s.fechaFin as sfechafin
        
        FROM Semestre as s
        WHERE s.numero=#{id}
        
    </select>
    <select parameterType="map" id="loadSemestreActual" resultMap='Semestre'>
        select
        s.numero as snumero,
        s.ano as sano,
        s.periodoAcademico as speriodoacademico,
        s.fechaInicio as sfechainicio,
        s.fechaFin as sfechafin
        
        FROM Semestre as s
        WHERE s.numero = (select MAX(ss.numero) from semestre as ss)
        
    </select>
    <select parameterType="map" id="loadSemestres" resultMap='Semestre'>
        select
        s.numero as snumero,
        s.ano as sano,
        s.periodoAcademico as speriodoacademico,
        s.fechaInicio as sfechainicio,
        s.fechaFin as sfechafin
        
        FROM Semestre as s
        
    </select>
    <resultMap type='Semestre' id='Semestre'>
        <id property ='numero' column='snumero'/>
        <result property='ano' column='sano'/> 
        <result property='periodoAcademico' column = 'speriodoacademico'/>     
        <result property='fechaInicio' column = 'sfechainicio'/>
        <result property='fechaFin' column = 'sfechafin'/>
    </resultMap>
</mapper>