<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mappers.TemaCursoMapper">
    <resultMap type='TemaCurso' id='TemaCurso'>
        <id property='nombreDelTema' column='tnombredeltema'/>
        <result property='descripcion' column = 'tdescripcion'/>
        <association propery='curso' javaType='Curso' resultMap='mappers.CursoMapper.Curso'></association>
        <collection property='asesorias' ofType='Asesoria' resultMap='mappers.AsesoriaMapper.Asesoria' ></collection>
    </resultMap>
</mapper>