<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mappers.TemaCursoMapper">
    <select parameterType="map" id="loadTemasCurso" resultMap='TemaCurso'>
    select
    tc.idtemacurso as tcid,
    tc.tema as tctema,
    tc.descripcion as tcdescripcion
    from temacurso as tc
    where tc.curso_id = #{idcurso}
    </select>
    <select parameterType="map" id="loadTemasAsesoria" resultMap='TemaCurso'>
    select
    tc.idtemacurso as tcid,
    tc.tema as tctema,
    tc.descripcion as tcdescripcion
    from temacurso as tc, temaasesoria as ta
    where ta.temacurso_idtemacurso = tc.idtemacurso and ta.asesoria_idasesoria = #{idasesoria}
    </select>
    <select parameterType="map" id="numeroDeAsistenciasSegunTema" resultType='Integer'>
        select count(a.idasesoria)
        from asesoria as a, temaasesoria as ta, temacurso as tc, grupo as g
        where ta.asesoria_idasesoria = a.idasesoria and ta.temacurso_idtemacurso = tc.idtemacurso and a.grupo_idgrupoasistente = g.idgrupo
        and tc.idtemacurso = #{tema} and g.semestre_numero = #{semestre}
    </select>
    <resultMap type='TemaCurso' id='TemaCurso'>
        <id property ='idTemaCurso' column='tcid'/>
        <result property='tema' column = 'tctema'/>
        <result property='descripcion' column = 'tcdescripcion'/>
    </resultMap>
</mapper>