<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
       <typeAlias type='Modelo.Administrador' alias='Administrador'/>
       <typeAlias type='Modelo.Asesoria' alias='Asesoria'/>
       <typeAlias type='Modelo.Curso' alias='Curso'/>
       <typeAlias type='Modelo.Grupo' alias='Grupo'/>
       <typeAlias type='Modelo.Monitor' alias='Monitor'/>
       <typeAlias type='Modelo.Monitoria' alias='Monitoria'/>
       <typeAlias type='Modelo.MonitoriaRegistrada' alias='MonitoriaRegistrada'/>
       <typeAlias type='Modelo.Persona' alias='Persona'/>
       <typeAlias type='Modelo.Profesor' alias='Profesor'/>
       <typeAlias type='Modelo.Semestre' alias='Semestre'/>
       <typeAlias type='Modelo.TemaAsesoria' alias='TemaAsesoria'/>
       <typeAlias type='Modelo.TemaCurso' alias='TemaCurso'/>
    </typeAliases>



    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver" />
                <property name="url" value="jdbc:h2:file:./target/db/testdb;MODE=PostgreSQL" />
                <property name="username" value="anonymous" />
                <property name="password" value="" />
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
          <mapper resource="mappers/AdministradorMapper.xml"></mapper>    
           <mapper resource="mappers/AsesoriaMapper.xml"></mapper>    
           <mapper resource="mappers/CursoMapper.xml"></mapper>
           <mapper resource="mappers/GrupoMapper.xml"></mapper>
           <mapper resource="mappers/MonitorMapper.xml"></mapper>
           <mapper resource="mappers/MonitoriaMapper.xml"></mapper>
           <mapper resource="mappers/MonitoriaRegistradaMapper.xml"></mapper>
           <mapper resource="mappers/PersonaMapper.xml"></mapper>
           <mapper resource="mappers/ProfesorMapper.xml"></mapper>
           <mapper resource="mappers/SemestreMapper.xml"></mapper>
           <mapper resource="mappers/TemaAsesoriaMapper.xml"></mapper>
           <mapper resource="mappers/TemaCursoMapper.xml"></mapper>
    </mappers> 
    
</configuration>