<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>-->
    
    <properties resource="config.properties">
    </properties>
    <typeAliases>
       <typeAlias type='Modelo.Asesoria' alias='Asesoria'/>
       <typeAlias type='Modelo.Curso' alias='Curso'/>
       <typeAlias type='Modelo.FranjaDisponibilidad' alias='FranjaDisponibilidad'/>
       <typeAlias type='Modelo.Grupo' alias='Grupo'/>
       <typeAlias type='Modelo.Monitor' alias='Monitor'/>
       <typeAlias type='Modelo.Persona' alias='Persona'/>
       <typeAlias type='Modelo.Profesor' alias='Profesor'/>
       <typeAlias type='Modelo.Semestre' alias='Semestre'/>
       <typeAlias type='Modelo.TemaCurso' alias='TemaCurso'/>
    </typeAliases>
        
                        
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <!--property name="url" value="jdbc:mysql://localhost:3306/video_rental"/!-->
                <property name="url" value="${url}"/>
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
           <mapper resource="mappers/AsesoriaMapper.xml"></mapper>    
           <mapper resource="mappers/CursoMapper.xml"></mapper>
           <mapper resource="mappers/FranjaDisponibilidadMapper.xml"></mapper>
           <mapper resource="mappers/GrupoMapper.xml"></mapper>
           <mapper resource="mappers/MonitorMapper.xml"></mapper>
           <mapper resource="mappers/PersonaMapper.xml"></mapper>
           <mapper resource="mappers/ProfesorMapper.xml"></mapper>
           <mapper resource="mappers/SemestreMapper.xml"></mapper>
           <mapper resource="mappers/TemaCursoMapper.xml"></mapper>
    </mappers> 
        
        
</configuration>
